<mat-card>
  <mat-card-header>
    <mat-card-title>Add a bucket list item</mat-card-title>
    <mat-card-subtitle>Your bucket list ({{itemCount}}) </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput [(ngModel)]="goalText" placeholder="Enter your goal here">
    </mat-form-field>
  </mat-card-content>
  
  <button mat-raised-button (click)="addItem()">{{btnText}}</button>
</mat-card>

<div [@goals]="goals.length">
  <mat-card class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
    {{goal}}
  </mat-card>
</div>